.main{
    display: inline-block;
    margin : 10px 45px 25px 45px;
}

.titleImage{
    width:48%;
    float: left;
    
}

.titleContent{
    width:50%;
    margin-left: 2%;
    float: left;
    margin-top: 7px;
}

.imageClass > img{
    height: 520px;
    width:95%;
    margin-left: 3%;
    margin-top: 3%;
}


#cfeedback{
    margin-left:3%;
    color:green
}

.icons{
    display: inline-block;
    margin-left:2%;
    size: 10px
}
.icons >img{
    width: 90px;
    height:90px;
}

#stock{
    font-size: 30px;
    color:green
}

.button{
    height:48px;
    width:250px;
    font-size:20px;
}
#Atoc{
    background-color:green
}

#menu{
    margin-top: 26px;
}